<%- include("partials/header") %>

<section>
    <table>
        <tr class="table_head">
            <th>First Name</th>
            <th>Last Name</th>
            <th>Grade</th>
            <th>Favorite Subject</th>
        </tr>
            <tr>
                <td><%=students.firstname%></td>
                <td><%=students.lastname%></td>
                <td><%=students.grade%></td>
                <td><%=students.favsub%></td>
            </tr>
     </table>
</section>

<%- include("partials/footer") %>